.base00 { color: #263238; }
.base01 { color: #37474F; }
.base02 { color: #455A64; }
.base03 { color: #546E7A; }
.base04 { color: #90A4AE; }
.base05 { color: #B0BEC5; }
.base06 { color: #CFD8DC; }
.base07 { color: #ECEFF1; }
.base08 { color: #FF1744; }
.base09 { color: #FF9100; }
.base0A { color: #FFC400; }
.base0B { color: #00E676; }
.base0C { color: #00B0FF; }
.base0D { color: #2979FF; }
.base0E { color: #651FFF; }
.base0F { color: #8D6E63; }

.base00-background { background-color: #263238; }
.base01-background { background-color: #37474F; }
.base02-background { background-color: #455A64; }
.base03-background { background-color: #546E7A; }
.base04-background { background-color: #90A4AE; }
.base05-background { background-color: #B0BEC5; }
.base06-background { background-color: #CFD8DC; }
.base07-background { background-color: #ECEFF1; }
.base08-background { background-color: #FF1744; }
.base09-background { background-color: #FF9100; }
.base0A-background { background-color: #FFC400; }
.base0B-background { background-color: #00E676; }
.base0C-background { background-color: #00B0FF; }
.base0D-background { background-color: #2979FF; }
.base0E-background { background-color: #651FFF; }
.base0F-background { background-color: #8D6E63; }
