.base00 { color: #1b1d1e; }
.base01 { color: #282b2d; }
.base02 { color: #363b3d; }
.base03 { color: #51585c; }
.base04 { color: #b0b6b9; }
.base05 { color: #d2d5d7; }
.base06 { color: #e4e6e7; }
.base07 { color: #f5f6f6; }
.base08 { color: #ab4642; }
.base09 { color: #dc9656; }
.base0A { color: #f7ca88; }
.base0B { color: #a1b56c; }
.base0C { color: #86c1b9; }
.base0D { color: #7cafc2; }
.base0E { color: #ba8baf; }
.base0F { color: #a16946; }

.base00-background { background-color: #1b1d1e; }
.base01-background { background-color: #282b2d; }
.base02-background { background-color: #363b3d; }
.base03-background { background-color: #51585c; }
.base04-background { background-color: #b0b6b9; }
.base05-background { background-color: #d2d5d7; }
.base06-background { background-color: #e4e6e7; }
.base07-background { background-color: #f5f6f6; }
.base08-background { background-color: #ab4642; }
.base09-background { background-color: #dc9656; }
.base0A-background { background-color: #f7ca88; }
.base0B-background { background-color: #a1b56c; }
.base0C-background { background-color: #86c1b9; }
.base0D-background { background-color: #7cafc2; }
.base0E-background { background-color: #ba8baf; }
.base0F-background { background-color: #a16946; }
